<h1>Exercício IX</h1>
<form>
    Nome:
    <input type="text" [(ngModel)]='nome' name='nome'>
    <br><br>
    Quantidade:
    <input type="number" [(ngModel)]='quantidade' name='quantidade'>
    <br><br>
    Preço unitário:
    <input type="number" [(ngModel)]='preco' name='preco'>
    <br><br>
    <button type="submit" (click)='cadastrarProduto()'>Salvar</button>
</form>
<br>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>&#9998;</th>
        <th>&#10006;</th>
    </thead>
    <tbody>
        <tr *ngFor='let produto of produtos'>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td><button (click)='editarProduto(produto)'>Editar</button></td>
            <td><button (click)='apagarProduto(produto)'>Apagar</button></td>
        </tr>
    </tbody>
</table>
